@import '../../styles/colors';

$card-x-padding: 0.5em;

.card {
    border-radius: 0.75rem;
    border: 1px solid lightgrey;

    .card-header {
        background: $highlightBg;
        background: linear-gradient(to bottom, $highlightBg 0%,$highlightBgDarker 100%);
        color: $highlightColor;
        font-size: 1.2rem;
        border-bottom: 1px solid black;
        padding: 0.3rem $card-x-padding;
        border-radius: 0.75rem 0.75rem 0 0;
    }
    .card-content {
        padding: 0 $card-x-padding;
        p {
            margin: 0.25rem 0;
        }
    }
    .card-footer {
        padding: 0 $card-x-padding;
        border-top: 1px solid black;
    }
}