html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

#root {
    padding: 2rem;

    .card {
        background: #606c88;
        background: linear-gradient(to bottom, #606c88 0%,#3f4c6b 100%);
    }
}