@import './colors';

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#root {
    padding: 2rem;
}

.contacts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}